@model FacilityViewModel
@{
    ViewData["Title"] = "FacilityEdit";
    Layout = "~/Views/Shared/_LayoutCPR.cshtml";
}

<div class="col-md-12">
    <br />
    <h4 style="text-align:left;font-weight:bold">TESİS DÜZENLE </h4>
    <br />
</div>
<div class="col-md-6">

    <form asp-controller="Facility" asp-action="FacilityEdit" method="post">

        <div class="form-group">
            <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
            <label for="City" style="font-weight:bold">İL</label>
            <select id="CitySelect" name="City" class="form-control">
                <option value="">***İl Seçiniz***</option>
                @foreach (var item in ViewBag.Cities)
                {
                    @if (item.Id == ViewBag.SelectedCityId)
                    {
                        <option selected value="@item.Id">@item.CityName</option>
                    }
                    else 
                    {
                         <option value="@item.Id">@item.CityName</option>
                    }
                    
                }

            </select>
        </div>

        <div class="form-group">
            <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
            <label for="District" style="font-weight:bold">İLÇE</label>
            <select id="DistrictSelect" name="District" class="form-control">
                <option value="">***İlçe Seçiniz***</option>
                @foreach (var item in ViewBag.Districts)
                {
                    @if (item.Id == Model.DistrictId)
                    {
                        <option selected value="@item.Id">@item.DistrictName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.DistrictName</option>
                    }

                }

            </select>
        </div>

        <div class="form-group">
            <label asp-for="FacilityName" style="font-weight:bold">Tesis Adı</label>
            <input asp-for="FacilityName" type="text" class="form-control" />
            <span asp-validation-for="FacilityName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label" style="font-weight:bold">Telefon Numarası</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label" style="font-weight:bold">Email</label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label" style="font-weight:bold">Adres</label>
            <input asp-for="Address" type="text" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-warning btn-block text-dark" />
        </div>
    </form>
</div>
@section Scripts{
    <script>
        //CitySelect combodan il seçildiğinde bu fonksiyon çalışacak
        //change event
        $('#CitySelect').on('change', function () {
            //İlçe combosunu temizle ve içine ilk değerini ata.
            var $dropdown = $("#DistrictSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***İlçe Seçiniz***</option>");

            //Hastane combosunu temizle ve içine ilk değerini ata.
            var $dropdown = $("#FacilitySelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Tesis Seçiniz***</option>");

            //İl değiştiğinde tesis resetlensin.
            $('#FacilitySelect')
                .val(0)
                .trigger('change');

            //Hangi ilin seçili olduğunu alalım.
            var cityId = this.value;
            //İl combosundan seçilen değer 0'dan büyükse
            //Yani gerçekten il seçildiyse aşağıdaki metoda gitsin
            //O metot aracılığıyla ile ait ilçeleri getirsin.
            if (cityId > 0) {
                $.ajax({
                    type: "GET",
                    url: '/City/GetCityDistricts/' + cityId,
                    success: function (res) {

                        var $dropdown = $("#DistrictSelect");
                        $dropdown.empty();
                        $dropdown.append("<option selected value='0'>***İlçe Seçiniz***</option>");

                        //Bu bir jquery foreach döngüsüdür.
                        //Gelen json sonucunun her birini ilçe combosuna ekler.
                        $.each(res.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.districtName));
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    },
                });
            }
        });

        //İlçe combodan ilçe seçildiğinde bu fonksiyon çalışacak
        //change event
        $('#DistrictSelect').on('change', function () {
            //Hangi ilçenin seçildiğini değişkene atadık belki işimiz olur diye.
            var districtid = this.value;
            //İlçe değiştiğinde hastane combosunun içini temizle ve ilk değerini ata.
            var $dropdown = $("#FacilitySelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Tesis Seçiniz***</option>");
            //İlçe değiştiğinde facility combosundaki ilk değer seçili hale gelsin.
            //İller ve Tesisler ViewBag ile sayfaya geliyor bu nedenle bu combonun içini boşaltmıyoruz.
            //Sadece ilk değerini seçili hale getiriyoruz.
            $('#FacilitySelect')
                .val(0)
                .trigger('change');
        });

        $('#ClinicSelect').on('change', function () {
            //Hangi kliniğin seçili olduğunu değişkene aldık.
            var clinicid = this.value;
            //Hangi ilçenin seçili olduğunu değişkene aldık.
            var districtid = $('#DistrictSelect').val();
            //Hastane combosu temizlenip ilk değeri atandı.
            var $dropdown = $("#HospitalSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Hastane Seçiniz***</option>");
            //Seçilen kliniğin value değeri sıfırdan büyükse o ilçedeki o kliniklere sahip hastaneleri getirecek.
            if (clinicid > 0) {
                $.ajax({
                    type: "GET",
                    url: '/Hospital/GetHospitalFromClinicId?id=' + clinicid + "&districtid=" + districtid,
                    success: function (res) {
                        //Json ile bize gelen hastaneleri hastane combosuna ekledik.(Jquery foreach döngüsü)
                        console.log(res.data);
                        $.each(res.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.hospitalName));
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    },
                });
            }

        });
        //Hastane seçildiğinde bu fonksiyon çalışır.(change event)
        $('#HospitalSelect').on('change', function () {
            var id = this.value;
        });
        //Temizle butonu temizlik yapacak.
        $('#Temizle').on('click', function () {
            //İller combosundan "il seçiniz" seçili hale gelsin.
            $('#CitySelect')
                .val(0)
                .trigger('change');

        });
        //Randevu ara butonuna tıklandığında seçili hastane ve kliniğe ait uygun randevular ekrana gelecek.
        $('#randevuAra').on('click', function () {
            //seçili ilin id'si
            var cityid = $('#CitySelect').val();
            //seçili ilçenin id'si
            var distid = $('#DistrictSelect').val();
            //seçili hastanenin id'si
            var hid = $("#HospitalSelect").val();
            //seçili kliniğin id'si
            var cid = $("#ClinicSelect").val();
            //seçili hekimin id'si
            //var dr = $("#DoctorSelect").val();

            //Yeni pencerede uygun randevular listelenecek.
            //il*, ilçe, klinik*, hastane, hekim
           /* window.open('/Patient/FindAppointment?cityid=' + cityid + '&distid=' + distid + '&cid=' + cid + '&hid=' + hid + '&dr=' + dr);*/
            window.open('/Patient/FindAppointment?cityid=' + cityid + '&distid=' + distid + '&cid=' + cid + '&hid=' + hid,"_self");

        });

    </script>
}
